## Import packages and check working directory

In [87]:
import os
os.getcwd()

'C:\\Users\\amona\\Desktop\\Dissertation'

In [88]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

## Import and check csv

In [89]:
data = pd.read_csv("OFSP_English_rpts_rmv.csv", encoding= 'unicode_escape')

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\1582533793.py:1: DtypeWarning: Columns (2,29,149,150,155,190,195,196,197,198,199,203,204,205,206,207,211,212,213,214,215,219,220,221,222,223,227,228,229,230,231,235,236,237,238,239,243,244,245,246,247,251,252,253,254,255,259,260,261,262,263,267,268,269,270,271,275,276,277,278,279,283,284,285,286,287,291,292,293,294,295,299,301,302,303,307,309,310,311,315,316,317,318,319,323,325,326,327,334,339,342) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("OFSP_English_rpts_rmv.csv", encoding= 'unicode_escape')

In [90]:
data.head()

,PatientID,Dateofbirth,Departmentid,CountryID,Sex,Profession,Smoker,____,____.1,UserID,...,Treatmentname.38,Treatmentname.39,Shorttreatmentname.18,ATCcode.15,ATCclass.19,Dosage.32,Dosage.33,Table :,Numberofthevisist,Incorrectvisit
0,1,21-Nov-73,33.0,74.0,2.0,5.0,fumeur ancien,0.0,NaN,543.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN
1,1,NaN,NaN,NaN,NaN,NaN,fumeur ancien,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN
2,1,NaN,NaN,NaN,NaN,NaN,fumeur ancien,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,NaN
3,1,NaN,NaN,NaN,NaN,NaN,fumeur ancien,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,4,NaN
4,2,10-Nov-33,17.0,74.0,1.0,7.0,non fumeur,0.0,NaN,543.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN

In [91]:
data.shape

(190537, 357)

In [92]:
data.columns

Index(['PatientID', 'Dateofbirth', 'Departmentid', 'CountryID', 'Sex',
       'Profession', 'Smoker', ' ____', ' ____.1', ' UserID',
       ...
       'Treatmentname.38', 'Treatmentname.39', 'Shorttreatmentname.18',
       ' ATCcode.15', 'ATCclass.19', 'Dosage.32', 'Dosage.33', 'Table :',
       'Numberofthevisist', 'Incorrectvisit'],
      dtype='object', length=357)

## Creating data frames by category

In [93]:
demographic = ['PatientID','Sex','Age','Current_smoker','Former_smoker','Sedentary']

In [94]:
demographic_df = data[demographic]
demographic_df.head()

   PatientID  Sex        Age  Current_smoker  Former_smoker  Sedentary
0          1  2.0  35.167693             0.0            1.0        0.0
1          1  NaN  36.522929             0.0            1.0        0.0
2          1  NaN  36.591376             0.0            1.0        0.0
3          1  NaN  38.576318             0.0            1.0        0.0
4          2  1.0  75.252567             0.0            0.0        1.0

In [95]:
measurements = ['Height','Weight','Cervical_perimeter',
               'Abdominal_perimeter','Systolic_BP','Diastolic_BP','Bloodsugar_level','Blood_total_cholesterol','HDL_level',
               'LDL_level','Triglycerides_level','Maxillofacial_profile','BMI','High_BP','PH']

In [96]:
measurements_df = data[measurements]
measurements_df.head()

,Height,Weight,Cervical_perimeter,Abdominal_perimeter,Systolic_BP,Diastolic_BP,Bloodsugar_level,Blood_total_cholesterol,HDL_level,LDL_level,Triglycerides_level,Maxillofacial_profile,BMI,High_BP,PH
0,166.0,100.0,35.0,114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,36.289737,1.0,NaN
1,NaN,95.0,NaN,104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2,NaN,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
3,NaN,95.0,38.0,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,7.46
4,167.0,70.0,41.0,105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,25.099502,1.0,NaN

In [97]:
comorbidities = ['Asthma','Rhinitis','COPD','Respiratory_fail','Myocardial_infarct','Coronary_fail','Arrhythmias','Stroke',
                 'Heart_fail','Arteriopathy','Gastric_reflux','Glaucoma','Diabetes','Hypercholesterolemia','Hypertriglyceridemia',
                 'Hypo(er)thyroidism','Depression','Obesity','Dysmorphology','Restless_Leg_Syndrome','Aerophagia']

In [98]:
comorbidities_df = data[comorbidities]
comorbidities_df.head()

,Asthma,Rhinitis,COPD,Respiratory_fail,Myocardial_infarct,Coronary_fail,Arrhythmias,Stroke,Heart_fail,Arteriopathy,...,Glaucoma,Diabetes,Hypercholesterolemia,Hypertriglyceridemia,Hypo(er)thyroidism,Depression,Obesity,Dysmorphology,Restless_Leg_Syndrome,Aerophagia
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,NaN,0.0,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,NaN,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,NaN,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,NaN,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [99]:
symptoms=['Snoring','Diurnal_somnolence','Driving_drowsiness','Morning_fatigue','Morning_headache','Memory_problem',
          'Nocturnal_perspiration','Shortness_of_breath_on_exertion','Nocturia','Drowsiness_accident','Near_miss_accident',
          'Respiratory_arrest','Skin_lesions']

In [100]:
symptoms_df = data[symptoms]
symptoms_df.head()

,Snoring,Diurnal_somnolence,Driving_drowsiness,Morning_fatigue,Morning_headache,Memory_problem,Nocturnal_perspiration,Shortness_of_breath_on_exertion,Nocturia,Drowsiness_accident,Near_miss_accident,Respiratory_arrest,Skin_lesions
0,NaN,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,NaN
1,NaN,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,NaN,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN

In [101]:
treatments =['ENT_surgery','CPAP','Two_levels_pressure_ventilation','Assisted_Servoventilation','Mandibular_advance_orthosis',
             'Oxygen_therapy','MaxilloFacial_surgery','Drug_treatment_Modafinil','RLS_drug_treatment','Other_treatments',
             'Diet','Smoking_cessation','Reduction_alcohol_consumption','Physical_activity','Humidifier']

In [102]:
treatments_df = data[treatments]
treatments_df.head()

,ENT_surgery,CPAP,Two_levels_pressure_ventilation,Assisted_Servoventilation,Mandibular_advance_orthosis,Oxygen_therapy,MaxilloFacial_surgery,Drug_treatment_Modafinil,RLS_drug_treatment,Other_treatments,Diet,Smoking_cessation,Reduction_alcohol_consumption,Physical_activity,Humidifier
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,NaN,1.0,0.0
3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [103]:
questionnaires = ['Epworth_scale','Pichots_scale','Depression_scale']

In [104]:
questionnaires_df = data[questionnaires]
questionnaires_df.head()

   Epworth_scale  Pichots_scale  Depression_scale
0            6.0           24.0              10.0
1            8.0           25.0               9.0
2            2.0           24.0              12.0
3            8.0           24.0              11.0
4            5.0            3.0               6.0

In [105]:
psg = ['Corrected_average_duration_sleep','Spirometry','FEV1',
         'Inspiratory_capacity','PAO2','PACO2','Number_oxygen_desaturation','Mean_oxygen_saturation',
         'Corrected_saturation_cumulated_time','Health_state_scale_doctor']

In [106]:
psg_df = data[psg]
psg_df.head()

,Corrected_average_duration_sleep,Spirometry,FEV1,Inspiratory_capacity,PAO2,PACO2,Number_oxygen_desaturation,Mean_oxygen_saturation,Corrected_saturation_cumulated_time,Health_state_scale_doctor
0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,96.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,06:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,83.0,2.29,89.0,31.0,NaN,NaN,NaN,96.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
diagnoses= ['Sleep_apnea_syndrome','Obstructive_sleep_apnea','Central_sleep_apnea','Mixed_sleep_apnea','Other_sleep_disorder',
        'Hygiene-Dietetictips','Apnea_hypopnea_index','Microawakening_index','Residual_apnea_hypopnea']

In [108]:
diagnoses_df = data[diagnoses]
diagnoses_df.head()

,Sleep_apnea_syndrome,Obstructive_sleep_apnea,Central_sleep_apnea,Mixed_sleep_apnea,Other_sleep_disorder,Hygiene-Dietetictips,Apnea_hypopnea_index,Microawakening_index,Residual_apnea_hypopnea
0,1.0,0.0,0.0,0.0,0.0,0.0,8.0,8.0,NaN
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

## Subsetting df with demographic, measurement, comorbidity, symptoms,  questionnaire data, with AHI severity

In [109]:
osa_simple = [demographic_df,measurements_df,comorbidities_df, symptoms_df, questionnaires_df, data['Apnea_hypopnea_index']] # this is a list
osa_simple_df = pd.concat(osa_simple, axis=1)   # this is a dataframe

In [110]:
osa_simple_df.head()

,PatientID,Sex,Age,Current_smoker,Former_smoker,Sedentary,Height,Weight,Cervical_perimeter,Abdominal_perimeter,...,Shortness_of_breath_on_exertion,Nocturia,Drowsiness_accident,Near_miss_accident,Respiratory_arrest,Skin_lesions,Epworth_scale,Pichots_scale,Depression_scale,Apnea_hypopnea_index
0,1,2.0,35.167693,0.0,1.0,0.0,166.0,100.0,35.0,114.0,...,1.0,1.0,0.0,0.0,1.0,NaN,6.0,24.0,10.0,8.0
1,1,NaN,36.522929,0.0,1.0,0.0,NaN,95.0,NaN,104.0,...,1.0,0.0,0.0,0.0,0.0,0.0,8.0,25.0,9.0,NaN
2,1,NaN,36.591376,0.0,1.0,0.0,NaN,98.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,24.0,12.0,NaN
3,1,NaN,38.576318,0.0,1.0,0.0,NaN,95.0,38.0,108.0,...,1.0,0.0,0.0,0.0,0.0,0.0,8.0,24.0,11.0,NaN
4,2,1.0,75.252567,0.0,0.0,1.0,167.0,70.0,41.0,105.0,...,0.0,1.0,0.0,0.0,0.0,NaN,5.0,3.0,6.0,NaN

In [111]:
osa_simple_df.shape

(190537, 59)

## Exporting clean df to csv

In [112]:
#osa_simple_df.to_csv("OSA_clean.csv")

### Dropping rows with duplicate patient IDs. Keeping 1st instance

In [113]:
osa_simple_df.drop_duplicates(subset ="PatientID", keep = 'first', inplace = True) # this drops repeated Patient ID rows and only keeps the 1st instance

In [114]:
osa_simple_df.shape

(111194, 59)

In [115]:
osa_simple_df.head()

,PatientID,Sex,Age,Current_smoker,Former_smoker,Sedentary,Height,Weight,Cervical_perimeter,Abdominal_perimeter,...,Shortness_of_breath_on_exertion,Nocturia,Drowsiness_accident,Near_miss_accident,Respiratory_arrest,Skin_lesions,Epworth_scale,Pichots_scale,Depression_scale,Apnea_hypopnea_index
0,1,2.0,35.167693,0.0,1.0,0.0,166.0,100.0,35.0,114.0,...,1.0,1.0,0.0,0.0,1.0,NaN,6.0,24.0,10.0,8.0
4,2,1.0,75.252567,0.0,0.0,1.0,167.0,70.0,41.0,105.0,...,0.0,1.0,0.0,0.0,0.0,NaN,5.0,3.0,6.0,NaN
6,3,1.0,35.014374,0.0,0.0,0.0,178.0,96.0,44.0,109.0,...,0.0,1.0,0.0,0.0,0.0,NaN,9.0,2.0,1.0,49.0
7,4,1.0,48.802190,0.0,1.0,1.0,182.0,81.0,38.0,96.0,...,0.0,1.0,0.0,0.0,1.0,NaN,10.0,10.0,5.0,15.0
8,5,2.0,19.641342,0.0,1.0,0.0,180.0,117.0,48.0,118.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

## Dataframe with columns >80% NaN dropped

### Percentages of missing values

In [116]:
(osa_simple_df.isnull().sum()/len(osa_simple_df))*100

PatientID                           0.000000
Sex                                 0.393906
Age                                 8.334083
Current_smoker                      8.504056
Former_smoker                       8.500459
Sedentary                           8.622767
Height                             12.116661
Weight                             11.926903
Cervical_perimeter                 54.630646
Abdominal_perimeter                54.069464
Systolic_BP                        60.235264
Diastolic_BP                       60.474486
Bloodsugar_level                   94.160656
Blood_total_cholesterol            94.112992
HDL_level                          94.369301
LDL_level                          94.452039
Triglycerides_level                94.151663
Maxillofacial_profile              22.702664
BMI                                12.676044
High_BP                             8.745076
PH                                 83.685271
Asthma                              8.694714
Rhinitis                            8.622767
COPD                                8.924942
Respiratory_fail                    8.669533
Myocardial_infarct                  8.542727
Coronary_fail                       8.642553
Arrhythmias                         8.706405
Stroke                              8.555318
Heart_fail                          8.597586
Arteriopathy                        8.634459
Gastric_reflux                      8.656043
Glaucoma                            8.677626
Diabetes                            8.334083
Hypercholesterolemia                8.920445
Hypertriglyceridemia                9.254096
Hypo(er)thyroidism                  8.767559
Depression                          8.692915
Obesity                             9.470835
Dysmorphology                       9.817976
Restless_Leg_Syndrome               9.061640
Aerophagia                         99.879490
Snoring                            19.733079
Diurnal_somnolence                  8.334083
Driving_drowsiness                  8.334083
Morning_fatigue                     8.334083
Morning_headache                    8.334083
Memory_problem                      8.334083
Nocturnal_perspiration              8.334083
Shortness_of_breath_on_exertion     8.334083
Nocturia                            8.687519
Drowsiness_accident                 8.334083
Near_miss_accident                 22.958073
Respiratory_arrest                 11.489829
Skin_lesions                       99.879490
Epworth_scale                      21.375254
Pichots_scale                      31.438747
Depression_scale                   32.526935
Apnea_hypopnea_index               27.702934
dtype: float64

In [117]:
threshold = 80.0
min_count =  int(((100-threshold)/100)*osa_simple_df.shape[0] + 1)  # this calculates the minimum number of samples per column that must have NaN value to be dropped


osa_simple_nadrop = osa_simple_df.dropna( axis=1,thresh=min_count) # drop columns with more than 80% NaN

In [118]:
print('With NaN', osa_simple_df.shape)
print('Dropped NaN',osa_simple_nadrop.shape)

With NaN (111194, 59)
Dropped NaN (111194, 51)

### Remove patients with no AHI info

In [119]:
osa_simple_nadrop.dropna(subset=['Apnea_hypopnea_index'], inplace = True)

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\4110469585.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  osa_simple_nadrop.dropna(subset=['Apnea_hypopnea_index'], inplace = True)

In [120]:
osa_simple_nadrop.shape

(80390, 51)

### Calculate OSA status based on AHI
AHI < 15  Status 0
AHI >= 15 Status 1

In [121]:
# defining a function that assigns severity based on AHI
def status (row):
   if row['Apnea_hypopnea_index'] < 15 :
      return 0
   if row['Apnea_hypopnea_index'] >= 15 :
      return 1

In [122]:
# applying function to create new Severity column

osa_simple_nadrop['Status'] = osa_simple_nadrop.apply (lambda row: status(row), axis=1)

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\608497297.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  osa_simple_nadrop['Status'] = osa_simple_nadrop.apply (lambda row: status(row), axis=1)

In [123]:
osa_simple_nadrop.shape

(80390, 52)

In [124]:
osa_simple_nadrop.Status.value_counts()  # how many of each severity are in the df

1    51352
0    29038
Name: Status, dtype: int64

In [125]:
osa_simple_nadrop.Status.value_counts(normalize=True) * 100

1    63.878592
0    36.121408
Name: Status, dtype: float64

In [126]:
# removing the AHI column
del osa_simple_nadrop['Apnea_hypopnea_index']
osa_simple_nadrop.shape

(80390, 51)

In [127]:
osa_simple_nadrop.head(10)

,PatientID,Sex,Age,Current_smoker,Former_smoker,Sedentary,Height,Weight,Cervical_perimeter,Abdominal_perimeter,...,Nocturnal_perspiration,Shortness_of_breath_on_exertion,Nocturia,Drowsiness_accident,Near_miss_accident,Respiratory_arrest,Epworth_scale,Pichots_scale,Depression_scale,Status
0,1,2.0,35.167693,0.0,1.0,0.0,166.0,100.0,35.0,114.0,...,1.0,1.0,1.0,0.0,0.0,1.0,6.0,24.0,10.0,0
6,3,1.0,35.014374,0.0,0.0,0.0,178.0,96.0,44.0,109.0,...,1.0,0.0,1.0,0.0,0.0,0.0,9.0,2.0,1.0,1
7,4,1.0,48.802190,0.0,1.0,1.0,182.0,81.0,38.0,96.0,...,0.0,0.0,1.0,0.0,0.0,1.0,10.0,10.0,5.0,1
20,14,2.0,56.410678,0.0,0.0,0.0,165.0,88.0,38.0,110.0,...,1.0,0.0,1.0,0.0,0.0,0.0,4.0,15.0,6.0,1
21,15,1.0,71.600274,0.0,0.0,0.0,175.0,77.0,40.0,101.0,...,0.0,0.0,0.0,0.0,0.0,0.0,9.0,3.0,2.0,1
22,16,1.0,54.099932,1.0,0.0,1.0,172.0,102.0,41.0,124.0,...,1.0,0.0,1.0,0.0,0.0,NaN,12.0,20.0,9.0,1
25,17,1.0,71.340178,0.0,0.0,1.0,166.0,77.0,39.0,100.0,...,0.0,1.0,1.0,0.0,0.0,1.0,8.0,1.0,2.0,1
30,19,2.0,61.598905,0.0,0.0,1.0,162.0,87.0,39.0,117.0,...,0.0,0.0,1.0,0.0,0.0,0.0,4.0,14.0,8.0,1
31,20,2.0,58.130048,0.0,0.0,0.0,154.0,65.0,35.0,91.0,...,0.0,1.0,0.0,0.0,0.0,0.0,15.0,20.0,2.0,1
35,21,2.0,44.041068,0.0,0.0,1.0,171.0,80.0,40.0,97.0,...,1.0,1.0,NaN,0.0,0.0,NaN,16.0,21.0,12.0,0

In [128]:
osa_simple_nadrop.columns

Index(['PatientID', 'Sex', 'Age', 'Current_smoker', 'Former_smoker',
       'Sedentary', 'Height', 'Weight', 'Cervical_perimeter',
       'Abdominal_perimeter', 'Systolic_BP', 'Diastolic_BP',
       'Maxillofacial_profile', 'BMI', 'High_BP', 'Asthma', 'Rhinitis', 'COPD',
       'Respiratory_fail', 'Myocardial_infarct', 'Coronary_fail',
       'Arrhythmias', 'Stroke', 'Heart_fail', 'Arteriopathy', 'Gastric_reflux',
       'Glaucoma', 'Diabetes', 'Hypercholesterolemia', 'Hypertriglyceridemia',
       'Hypo(er)thyroidism', 'Depression', 'Obesity', 'Dysmorphology',
       'Restless_Leg_Syndrome', 'Snoring', 'Diurnal_somnolence',
       'Driving_drowsiness', 'Morning_fatigue', 'Morning_headache',
       'Memory_problem', 'Nocturnal_perspiration',
       'Shortness_of_breath_on_exertion', 'Nocturia', 'Drowsiness_accident',
       'Near_miss_accident', 'Respiratory_arrest', 'Epworth_scale',
       'Pichots_scale', 'Depression_scale', 'Status'],
      dtype='object')

## Creating df with only complete patient entries

In [129]:
complete_patients_binary = osa_simple_nadrop[~osa_simple_nadrop.isnull().any(axis=1)]
complete_patients_binary.shape

(21818, 51)

# Testing binary classification

## Stratified train-test-split

In [130]:
features = ['Sex', 'Age', 'Current_smoker', 'Former_smoker',
       'Sedentary', 'Height', 'Weight', 'Cervical_perimeter',
       'Abdominal_perimeter', 'Systolic_BP', 'Diastolic_BP',
       'Maxillofacial_profile', 'BMI', 'High_BP', 'Asthma', 'Rhinitis', 'COPD',
       'Respiratory_fail', 'Myocardial_infarct', 'Coronary_fail',
       'Arrhythmias', 'Stroke', 'Heart_fail', 'Arteriopathy', 'Gastric_reflux',
       'Glaucoma', 'Diabetes', 'Hypercholesterolemia', 'Hypertriglyceridemia',
       'Hypo(er)thyroidism', 'Depression', 'Obesity', 'Dysmorphology',
       'Restless_Leg_Syndrome', 'Snoring', 'Diurnal_somnolence',
       'Driving_drowsiness', 'Morning_fatigue', 'Morning_headache',
       'Memory_problem', 'Nocturnal_perspiration',
       'Shortness_of_breath_on_exertion', 'Nocturia', 'Drowsiness_accident',
       'Near_miss_accident', 'Respiratory_arrest', 'Epworth_scale',
       'Pichots_scale', 'Depression_scale']
X=complete_patients_binary[features]  # Features  
y=complete_patients_binary['Status']  # Labels

In [131]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    stratify=y, 
                                                    test_size=0.2,
                                                    random_state=0)

### Distribution of classes in training and testing sets

In [132]:
print('\nClass distribution train (%):')
y_train.value_counts(normalize=True) * 100

Class distribution train (%):

1    63.801994
0    36.198006
Name: Status, dtype: float64

In [133]:
print('\nClass distribution test (%):')
y_test.value_counts(normalize=True) * 100

Class distribution test (%):

1    63.794684
0    36.205316
Name: Status, dtype: float64

## Classifier Comparison

In [134]:
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import ADASYN

from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler  

from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB

from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import make_scorer
from sklearn.metrics import balanced_accuracy_score
from imblearn.metrics import geometric_mean_score

from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [135]:
classifiers = {
    "LGBMClassifier": LGBMClassifier(),
    "XGBClassifier": XGBClassifier(),
    "ExtraTreesClassifier": ExtraTreesClassifier(),    
    "RandomForestClassifier": RandomForestClassifier(),
    "CatBoostClassifier": CatBoostClassifier(silent=True),
    "AdaBoostClassifier": AdaBoostClassifier(),
    "Logistic Regression": LogisticRegression(max_iter = 2000),
    "Naive Bayes": GaussianNB(),
    "Linear SVM": LinearSVC(max_iter = 2000),
    "SVM" : SVC(class_weight='balanced', random_state = 0),
    "KNN": KNeighborsClassifier(n_neighbors = 5),
    "MLP": MLPClassifier(early_stopping=True)}

### Performance of imbalanced dataset

In [136]:
df_result = pd.DataFrame(columns=['model','accuracy', 'precision','recall', 'f1', 'bal_acc', 'g_mean'])

for key in classifiers:
    print('*',key)

    classifier = classifiers[key]
    if key == "Linear SVM" or key == "MLP" or key == "SVM" or key == "KNN" or key == "Logistic Regression":
        scaler = MinMaxScaler()  
        scaler.fit(X_train)  
        X_train = scaler.transform(X_train)  
        X_test = scaler.transform(X_test) 
    
    model = classifier.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    accuracy = accuracy_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred, average='weighted')
    f1 = f1_score(y_test, y_pred, average='weighted')
    bal_accuracy = balanced_accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average='weighted')
    g_mean = geometric_mean_score(y_test, y_pred)
    row = {'model': key,
           'accuracy': round(accuracy,3),
           'recall': round(recall,3),
           'f1': round(f1,3),
           'bal_acc': round(bal_accuracy,3),
           'precision': round(precision,3),
           'g_mean': round(g_mean,3),}

    df_result = df_result.append(row, ignore_index=True)

* LGBMClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* XGBClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* ExtraTreesClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* RandomForestClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* CatBoostClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* AdaBoostClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* Logistic Regression

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* Naive Bayes

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* Linear SVM

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* SVM

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* KNN

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* MLP

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

In [137]:
df_result

                     model accuracy precision recall     f1 bal_acc g_mean
0           LGBMClassifier    0.718      0.71  0.718  0.709   0.671  0.649
1            XGBClassifier    0.705     0.695  0.705  0.696   0.658  0.635
2     ExtraTreesClassifier    0.715     0.705  0.715  0.702   0.661  0.632
3   RandomForestClassifier    0.715     0.706  0.715  0.703   0.662  0.633
4       CatBoostClassifier    0.724     0.716  0.724  0.714   0.675  0.652
5       AdaBoostClassifier    0.711     0.702  0.711  0.701   0.661  0.636
6      Logistic Regression    0.716     0.707  0.716  0.705   0.665  0.639
7              Naive Bayes     0.58     0.663   0.58  0.582   0.621  0.603
8               Linear SVM    0.715     0.705  0.715  0.703   0.662  0.635
9                      SVM    0.681     0.698  0.681  0.686   0.677  0.677
10                     KNN    0.646     0.641  0.646  0.643   0.609  0.594
11                     MLP    0.719      0.71  0.719  0.706   0.665  0.636

## Using SMOTE for oversampling on X_train and y_train

### Oversampling training data

In [138]:
oversampled = SMOTE(random_state=0)
X_train_smote, y_train_smote = oversampled.fit_resample(X_train, y_train)
y_train_smote.value_counts()

1    11136
0    11136
Name: Status, dtype: int64

In [139]:
df_result = pd.DataFrame(columns=['model','accuracy', 'precision','recall', 'f1', 'bal_acc', 'g_mean'])

for key in classifiers:
    print('*',key)

    classifier = classifiers[key]
    if key == "Linear SVM" or key == "MLP" or key == "SVM" or key == "KNN" or key == "Logistic Regression":
        scaler = MinMaxScaler()  
        scaler.fit(X_train)  
        X_train_smote = scaler.transform(X_train_smote)  
        X_test = scaler.transform(X_test) 
    
    model = classifier.fit(X_train_smote, y_train_smote)
    y_pred = model.predict(X_test)
    
    accuracy = accuracy_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred, average='weighted')
    f1 = f1_score(y_test, y_pred, average='weighted')
    bal_accuracy = balanced_accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average='weighted')
    g_mean = geometric_mean_score(y_test, y_pred)
    row = {'model': key,
           'accuracy': round(accuracy,3),
           'recall': round(recall,3),
           'f1': round(f1,3),
           'bal_acc': round(bal_accuracy,3),
           'precision': round(precision,3),
           'g_mean': round(g_mean,3),}

    df_result = df_result.append(row, ignore_index=True)

* LGBMClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* XGBClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* ExtraTreesClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* RandomForestClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* CatBoostClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* AdaBoostClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* Logistic Regression

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)
C:\Users\amona\AppData\Local\Temp\ipykernel_19212\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* Naive Bayes
* Linear SVM

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* SVM

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* KNN

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* MLP

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

In [140]:
df_result

                     model accuracy precision recall     f1 bal_acc g_mean
0           LGBMClassifier    0.716     0.709  0.716   0.71   0.676  0.659
1            XGBClassifier    0.711     0.704  0.711  0.705   0.672  0.657
2     ExtraTreesClassifier    0.704     0.697  0.704  0.699   0.666  0.652
3   RandomForestClassifier    0.705     0.703  0.705  0.704   0.677  0.669
4       CatBoostClassifier    0.719     0.711  0.719  0.712   0.675  0.656
5       AdaBoostClassifier    0.671     0.684  0.671  0.676   0.661   0.66
6      Logistic Regression    0.682       0.7  0.682  0.687   0.678  0.678
7              Naive Bayes    0.538     0.644  0.538  0.533   0.592  0.558
8               Linear SVM    0.681       0.7  0.681  0.686   0.678  0.678
9                      SVM    0.695     0.699  0.695  0.697   0.675  0.672
10                     KNN    0.585     0.634  0.585  0.593   0.601  0.598
11                     MLP    0.668     0.697  0.668  0.674   0.674  0.673

## Using ADASYN for oversampling on X_train and y_train

### Oversampling training data

In [141]:
oversampled_a = ADASYN(random_state=0)
X_train_ada, y_train_ada = oversampled_a.fit_resample(X_train, y_train)
y_train_ada.value_counts()

0    11324
1    11136
Name: Status, dtype: int64

In [142]:
df_result = pd.DataFrame(columns=['model','accuracy', 'precision','recall', 'f1', 'bal_acc', 'g_mean'])

for key in classifiers:
    print('*',key)

    classifier = classifiers[key]
    if key == "Linear SVM" or key == "MLP" or key == "SVM" or key == "KNN" or key == "Logistic Regression":
        scaler = MinMaxScaler()  
        scaler.fit(X_train)  
        X_train_ada = scaler.transform(X_train_ada)  
        X_test = scaler.transform(X_test) 
    
    model = classifier.fit(X_train_ada, y_train_ada)
    y_pred = model.predict(X_test)
    
    accuracy = accuracy_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred, average='weighted')
    f1 = f1_score(y_test, y_pred, average='weighted')
    bal_accuracy = balanced_accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average='weighted')
    g_mean = geometric_mean_score(y_test, y_pred)
    row = {'model': key,
           'accuracy': round(accuracy,3),
           'recall': round(recall,3),
           'f1': round(f1,3),
           'bal_acc': round(bal_accuracy,3),
           'precision': round(precision,3),
           'g_mean': round(g_mean,3),}

    df_result = df_result.append(row, ignore_index=True)

* LGBMClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* XGBClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* ExtraTreesClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* RandomForestClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* CatBoostClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* AdaBoostClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* Logistic Regression

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)
C:\Users\amona\AppData\Local\Temp\ipykernel_19212\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* Naive Bayes
* Linear SVM

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* SVM

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* KNN

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* MLP

C:\Users\amona\AppData\Local\Temp\ipykernel_19212\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

In [143]:
df_result

                     model accuracy precision recall     f1 bal_acc g_mean
0           LGBMClassifier    0.715     0.708  0.715  0.709   0.675  0.659
1            XGBClassifier    0.705     0.698  0.705  0.699   0.664  0.648
2     ExtraTreesClassifier    0.707     0.702  0.707  0.703   0.673  0.661
3   RandomForestClassifier    0.701       0.7  0.701    0.7   0.674  0.667
4       CatBoostClassifier    0.717      0.71  0.717  0.711   0.676  0.659
5       AdaBoostClassifier     0.67     0.687   0.67  0.675   0.664  0.664
6      Logistic Regression    0.674     0.698  0.674   0.68   0.676  0.676
7              Naive Bayes    0.535     0.645  0.535  0.529   0.592  0.555
8               Linear SVM    0.675       0.7  0.675  0.681   0.678  0.678
9                      SVM     0.69     0.697   0.69  0.693   0.674  0.672
10                     KNN    0.567     0.628  0.567  0.573   0.592  0.585
11                     MLP    0.661     0.695  0.661  0.668   0.671   0.67