## Import packages and check working directory

In [1]:
import os
os.getcwd()

'C:\\Users\\amona\\Desktop\\Dissertation'

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

## Import and check csv

In [3]:
data = pd.read_csv("OFSP_English_rpts_rmv.csv", encoding= 'unicode_escape')

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\1582533793.py:1: DtypeWarning: Columns (2,29,149,150,155,190,195,196,197,198,199,203,204,205,206,207,211,212,213,214,215,219,220,221,222,223,227,228,229,230,231,235,236,237,238,239,243,244,245,246,247,251,252,253,254,255,259,260,261,262,263,267,268,269,270,271,275,276,277,278,279,283,284,285,286,287,291,292,293,294,295,299,301,302,303,307,309,310,311,315,316,317,318,319,323,325,326,327,334,339,342) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("OFSP_English_rpts_rmv.csv", encoding= 'unicode_escape')

In [4]:
data.head()

,PatientID,Dateofbirth,Departmentid,CountryID,Sex,Profession,Smoker,____,____.1,UserID,...,Treatmentname.38,Treatmentname.39,Shorttreatmentname.18,ATCcode.15,ATCclass.19,Dosage.32,Dosage.33,Table :,Numberofthevisist,Incorrectvisit
0,1,21-Nov-73,33.0,74.0,2.0,5.0,fumeur ancien,0.0,NaN,543.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN
1,1,NaN,NaN,NaN,NaN,NaN,fumeur ancien,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN
2,1,NaN,NaN,NaN,NaN,NaN,fumeur ancien,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,NaN
3,1,NaN,NaN,NaN,NaN,NaN,fumeur ancien,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,4,NaN
4,2,10-Nov-33,17.0,74.0,1.0,7.0,non fumeur,0.0,NaN,543.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN

In [5]:
data.shape

(190537, 357)

In [6]:
data.columns

Index(['PatientID', 'Dateofbirth', 'Departmentid', 'CountryID', 'Sex',
       'Profession', 'Smoker', ' ____', ' ____.1', ' UserID',
       ...
       'Treatmentname.38', 'Treatmentname.39', 'Shorttreatmentname.18',
       ' ATCcode.15', 'ATCclass.19', 'Dosage.32', 'Dosage.33', 'Table :',
       'Numberofthevisist', 'Incorrectvisit'],
      dtype='object', length=357)

## Creating data frames by category

In [7]:
demographic = ['PatientID','Sex','Age','Current_smoker','Former_smoker','Sedentary']

In [8]:
demographic_df = data[demographic]
demographic_df.head()

   PatientID  Sex        Age  Current_smoker  Former_smoker  Sedentary
0          1  2.0  35.167693             0.0            1.0        0.0
1          1  NaN  36.522929             0.0            1.0        0.0
2          1  NaN  36.591376             0.0            1.0        0.0
3          1  NaN  38.576318             0.0            1.0        0.0
4          2  1.0  75.252567             0.0            0.0        1.0

In [9]:
measurements = ['Height','Weight','Cervical_perimeter',
               'Abdominal_perimeter','Systolic_BP','Diastolic_BP','Bloodsugar_level','Blood_total_cholesterol','HDL_level',
               'LDL_level','Triglycerides_level','Maxillofacial_profile','BMI','High_BP','PH']

In [10]:
measurements_df = data[measurements]
measurements_df.head()

,Height,Weight,Cervical_perimeter,Abdominal_perimeter,Systolic_BP,Diastolic_BP,Bloodsugar_level,Blood_total_cholesterol,HDL_level,LDL_level,Triglycerides_level,Maxillofacial_profile,BMI,High_BP,PH
0,166.0,100.0,35.0,114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,36.289737,1.0,NaN
1,NaN,95.0,NaN,104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2,NaN,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
3,NaN,95.0,38.0,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,7.46
4,167.0,70.0,41.0,105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,25.099502,1.0,NaN

In [11]:
comorbidities = ['Asthma','Rhinitis','COPD','Respiratory_fail','Myocardial_infarct','Coronary_fail','Arrhythmias','Stroke',
                 'Heart_fail','Arteriopathy','Gastric_reflux','Glaucoma','Diabetes','Hypercholesterolemia','Hypertriglyceridemia',
                 'Hypo(er)thyroidism','Depression','Obesity','Dysmorphology','Restless_Leg_Syndrome','Aerophagia']

In [12]:
comorbidities_df = data[comorbidities]
comorbidities_df.head()

,Asthma,Rhinitis,COPD,Respiratory_fail,Myocardial_infarct,Coronary_fail,Arrhythmias,Stroke,Heart_fail,Arteriopathy,...,Glaucoma,Diabetes,Hypercholesterolemia,Hypertriglyceridemia,Hypo(er)thyroidism,Depression,Obesity,Dysmorphology,Restless_Leg_Syndrome,Aerophagia
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,NaN,0.0,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,NaN,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,NaN,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,NaN,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [13]:
symptoms=['Snoring','Diurnal_somnolence','Driving_drowsiness','Morning_fatigue','Morning_headache','Memory_problem',
          'Nocturnal_perspiration','Shortness_of_breath_on_exertion','Nocturia','Drowsiness_accident','Near_miss_accident',
          'Respiratory_arrest','Skin_lesions']

In [14]:
symptoms_df = data[symptoms]
symptoms_df.head()

,Snoring,Diurnal_somnolence,Driving_drowsiness,Morning_fatigue,Morning_headache,Memory_problem,Nocturnal_perspiration,Shortness_of_breath_on_exertion,Nocturia,Drowsiness_accident,Near_miss_accident,Respiratory_arrest,Skin_lesions
0,NaN,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,NaN
1,NaN,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,NaN,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN

In [15]:
treatments =['ENT_surgery','CPAP','Two_levels_pressure_ventilation','Assisted_Servoventilation','Mandibular_advance_orthosis',
             'Oxygen_therapy','MaxilloFacial_surgery','Drug_treatment_Modafinil','RLS_drug_treatment','Other_treatments',
             'Diet','Smoking_cessation','Reduction_alcohol_consumption','Physical_activity','Humidifier']

In [16]:
treatments_df = data[treatments]
treatments_df.head()

,ENT_surgery,CPAP,Two_levels_pressure_ventilation,Assisted_Servoventilation,Mandibular_advance_orthosis,Oxygen_therapy,MaxilloFacial_surgery,Drug_treatment_Modafinil,RLS_drug_treatment,Other_treatments,Diet,Smoking_cessation,Reduction_alcohol_consumption,Physical_activity,Humidifier
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,NaN,1.0,0.0
3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [17]:
questionnaires = ['Epworth_scale','Pichots_scale','Depression_scale']

In [18]:
questionnaires_df = data[questionnaires]
questionnaires_df.head()

   Epworth_scale  Pichots_scale  Depression_scale
0            6.0           24.0              10.0
1            8.0           25.0               9.0
2            2.0           24.0              12.0
3            8.0           24.0              11.0
4            5.0            3.0               6.0

In [19]:
psg = ['Corrected_average_duration_sleep','Spirometry','FEV1',
         'Inspiratory_capacity','PAO2','PACO2','Number_oxygen_desaturation','Mean_oxygen_saturation',
         'Corrected_saturation_cumulated_time','Health_state_scale_doctor']

In [20]:
psg_df = data[psg]
psg_df.head()

,Corrected_average_duration_sleep,Spirometry,FEV1,Inspiratory_capacity,PAO2,PACO2,Number_oxygen_desaturation,Mean_oxygen_saturation,Corrected_saturation_cumulated_time,Health_state_scale_doctor
0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,96.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,06:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,83.0,2.29,89.0,31.0,NaN,NaN,NaN,96.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
diagnoses= ['Sleep_apnea_syndrome','Obstructive_sleep_apnea','Central_sleep_apnea','Mixed_sleep_apnea','Other_sleep_disorder',
        'Hygiene-Dietetictips','Apnea_hypopnea_index','Microawakening_index','Residual_apnea_hypopnea']

In [22]:
diagnoses_df = data[diagnoses]
diagnoses_df.head()

,Sleep_apnea_syndrome,Obstructive_sleep_apnea,Central_sleep_apnea,Mixed_sleep_apnea,Other_sleep_disorder,Hygiene-Dietetictips,Apnea_hypopnea_index,Microawakening_index,Residual_apnea_hypopnea
0,1.0,0.0,0.0,0.0,0.0,0.0,8.0,8.0,NaN
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

## Combining dataframes into a new df for analysis with everything except diagnosis data

In [23]:
osa_all = [demographic_df,measurements_df,comorbidities_df, symptoms_df,treatments_df, questionnaires_df, psg_df, data['Apnea_hypopnea_index']] # this is a list
osa_all_df = pd.concat(osa_all, axis=1)   # this is a dataframe

In [24]:
osa_all_df.head()

,PatientID,Sex,Age,Current_smoker,Former_smoker,Sedentary,Height,Weight,Cervical_perimeter,Abdominal_perimeter,...,Spirometry,FEV1,Inspiratory_capacity,PAO2,PACO2,Number_oxygen_desaturation,Mean_oxygen_saturation,Corrected_saturation_cumulated_time,Health_state_scale_doctor,Apnea_hypopnea_index
0,1,2.0,35.167693,0.0,1.0,0.0,166.0,100.0,35.0,114.0,...,NaN,NaN,NaN,NaN,NaN,5.0,96.0,NaN,NaN,8.0
1,1,NaN,36.522929,0.0,1.0,0.0,NaN,95.0,NaN,104.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,NaN,36.591376,0.0,1.0,0.0,NaN,98.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,NaN,38.576318,0.0,1.0,0.0,NaN,95.0,38.0,108.0,...,NaN,83.0,2.29,89.0,31.0,NaN,NaN,NaN,96.0,NaN
4,2,1.0,75.252567,0.0,0.0,1.0,167.0,70.0,41.0,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
osa_all_df.shape

(190537, 84)

In [26]:
osa_all_df.drop_duplicates(subset ="PatientID", keep = 'first', inplace = True) # this drops repeated Patient ID rows and only keeps the 1st instance

In [27]:
osa_all_df.shape

(111194, 84)

In [28]:
osa_all_df.head()

,PatientID,Sex,Age,Current_smoker,Former_smoker,Sedentary,Height,Weight,Cervical_perimeter,Abdominal_perimeter,...,Spirometry,FEV1,Inspiratory_capacity,PAO2,PACO2,Number_oxygen_desaturation,Mean_oxygen_saturation,Corrected_saturation_cumulated_time,Health_state_scale_doctor,Apnea_hypopnea_index
0,1,2.0,35.167693,0.0,1.0,0.0,166.0,100.0,35.0,114.0,...,NaN,NaN,NaN,NaN,NaN,5.0,96.0,NaN,NaN,8.0
4,2,1.0,75.252567,0.0,0.0,1.0,167.0,70.0,41.0,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3,1.0,35.014374,0.0,0.0,0.0,178.0,96.0,44.0,109.0,...,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,49.0
7,4,1.0,48.802190,0.0,1.0,1.0,182.0,81.0,38.0,96.0,...,NaN,58.0,NaN,80.0,36.0,4.0,NaN,NaN,75.0,15.0
8,5,2.0,19.641342,0.0,1.0,0.0,180.0,117.0,48.0,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exporting clean df to csv

In [29]:
#osa_all_df.to_csv("OSA_clean.csv")

### Dropping rows with duplicate patient IDs. Keeping 1st instance

In [30]:
osa_all_df.drop_duplicates(subset ="PatientID", keep = 'first', inplace = True) # this drops repeated Patient ID rows and only keeps the 1st instance

In [31]:
osa_all_df.shape

(111194, 84)

## Dataframe with columns >80% NaN dropped

### Percentages of missing values

In [32]:
(osa_all_df.isnull().sum()/len(osa_all_df))*100

PatientID                               0.000000
Sex                                     0.393906
Age                                     8.334083
Current_smoker                          8.504056
Former_smoker                           8.500459
                                         ...
Number_oxygen_desaturation             44.518589
Mean_oxygen_saturation                 43.201971
Corrected_saturation_cumulated_time    68.232998
Health_state_scale_doctor              58.597586
Apnea_hypopnea_index                   27.702934
Length: 84, dtype: float64

In [33]:
threshold = 80.0
min_count =  int(((100-threshold)/100)*osa_all_df.shape[0] + 1)  # this calculates the minimum number of samples per column that must have NaN value to be dropped


osa_simple_nadrop = osa_all_df.dropna( axis=1,thresh=min_count) # drop columns with more than 80% NaN

In [34]:
print('With NaN', osa_all_df.shape)
print('Dropped NaN',osa_simple_nadrop.shape)

With NaN (111194, 84)
Dropped NaN (111194, 70)

### Remove patients with no AHI info

In [35]:
osa_simple_nadrop.dropna(subset=['Apnea_hypopnea_index'], inplace = True)

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\4110469585.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  osa_simple_nadrop.dropna(subset=['Apnea_hypopnea_index'], inplace = True)

In [36]:
osa_simple_nadrop.shape

(80390, 70)

### Calculate OSA status based on AHI
AHI < 15  Status 0
AHI >= 15 Status 1

In [37]:
# defining a function that assigns severity based on AHI
def severity (row):
   if row['Apnea_hypopnea_index'] < 5 :
      return 0
   if row['Apnea_hypopnea_index'] >= 5 and row['Apnea_hypopnea_index'] < 15 :
      return 1
   if row['Apnea_hypopnea_index'] >= 15 and row['Apnea_hypopnea_index'] < 30 :
      return 2
   if row['Apnea_hypopnea_index'] >= 30 :
      return 3

In [38]:
# applying function to create new Severity column

osa_simple_nadrop['Severity'] = osa_simple_nadrop.apply (lambda row: severity(row), axis=1)

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\935528006.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  osa_simple_nadrop['Severity'] = osa_simple_nadrop.apply (lambda row: severity(row), axis=1)

In [39]:
osa_simple_nadrop.shape

(80390, 71)

In [40]:
osa_simple_nadrop.Severity.value_counts()  # how many of each severity are in the df

3    33552
2    17800
1    17617
0    11421
Name: Severity, dtype: int64

In [41]:
osa_simple_nadrop.Severity.value_counts(normalize=True) * 100

3    41.736534
2    22.142057
1    21.914417
0    14.206991
Name: Severity, dtype: float64

In [42]:
# removing the AHI column
del osa_simple_nadrop['Apnea_hypopnea_index']
osa_simple_nadrop.shape

(80390, 70)

In [43]:
osa_simple_nadrop.head(10)

,PatientID,Sex,Age,Current_smoker,Former_smoker,Sedentary,Height,Weight,Cervical_perimeter,Abdominal_perimeter,...,Corrected_average_duration_sleep,Spirometry,FEV1,PAO2,PACO2,Number_oxygen_desaturation,Mean_oxygen_saturation,Corrected_saturation_cumulated_time,Health_state_scale_doctor,Severity
0,1,2.0,35.167693,0.0,1.0,0.0,166.0,100.0,35.0,114.0,...,NaN,NaN,NaN,NaN,NaN,5.0,96.0,NaN,NaN,1
6,3,1.0,35.014374,0.0,0.0,0.0,178.0,96.0,44.0,109.0,...,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,3
7,4,1.0,48.802190,0.0,1.0,1.0,182.0,81.0,38.0,96.0,...,NaN,NaN,58.0,80.0,36.0,4.0,NaN,NaN,75.0,2
20,14,2.0,56.410678,0.0,0.0,0.0,165.0,88.0,38.0,110.0,...,NaN,98.0,89.0,88.0,35.0,21.0,92.0,00:19,99.0,3
21,15,1.0,71.600274,0.0,0.0,0.0,175.0,77.0,40.0,101.0,...,NaN,NaN,75.0,81.0,35.0,18.0,95.0,NaN,98.0,2
22,16,1.0,54.099932,1.0,0.0,1.0,172.0,102.0,41.0,124.0,...,NaN,NaN,69.0,81.0,35.0,10.0,89.0,NaN,95.0,3
25,17,1.0,71.340178,0.0,0.0,1.0,166.0,77.0,39.0,100.0,...,NaN,86.0,64.0,80.0,36.0,41.0,92.0,NaN,96.0,3
30,19,2.0,61.598905,0.0,0.0,1.0,162.0,87.0,39.0,117.0,...,NaN,88.0,83.0,83.2,36.1,67.0,93.0,01:03,102.0,3
31,20,2.0,58.130048,0.0,0.0,0.0,154.0,65.0,35.0,91.0,...,NaN,90.0,83.0,81.3,35.9,18.0,94.0,00:03,92.0,3
35,21,2.0,44.041068,0.0,0.0,1.0,171.0,80.0,40.0,97.0,...,NaN,NaN,70.0,94.0,37.0,0.0,94.0,NaN,79.0,0

In [44]:
osa_simple_nadrop.columns

Index(['PatientID', 'Sex', 'Age', 'Current_smoker', 'Former_smoker',
       'Sedentary', 'Height', 'Weight', 'Cervical_perimeter',
       'Abdominal_perimeter', 'Systolic_BP', 'Diastolic_BP',
       'Maxillofacial_profile', 'BMI', 'High_BP', 'Asthma', 'Rhinitis', 'COPD',
       'Respiratory_fail', 'Myocardial_infarct', 'Coronary_fail',
       'Arrhythmias', 'Stroke', 'Heart_fail', 'Arteriopathy', 'Gastric_reflux',
       'Glaucoma', 'Diabetes', 'Hypercholesterolemia', 'Hypertriglyceridemia',
       'Hypo(er)thyroidism', 'Depression', 'Obesity', 'Dysmorphology',
       'Restless_Leg_Syndrome', 'Snoring', 'Diurnal_somnolence',
       'Driving_drowsiness', 'Morning_fatigue', 'Morning_headache',
       'Memory_problem', 'Nocturnal_perspiration',
       'Shortness_of_breath_on_exertion', 'Nocturia', 'Drowsiness_accident',
       'Near_miss_accident', 'Respiratory_arrest', 'ENT_surgery', 'CPAP',
       'Two_levels_pressure_ventilation', 'Assisted_Servoventilation',
       'Mandibular_advance_orthosis', 'Oxygen_therapy',
       'MaxilloFacial_surgery', 'Drug_treatment_Modafinil',
       'RLS_drug_treatment', 'Other_treatments', 'Epworth_scale',
       'Pichots_scale', 'Depression_scale', 'Corrected_average_duration_sleep',
       'Spirometry', 'FEV1', 'PAO2', 'PACO2', 'Number_oxygen_desaturation',
       'Mean_oxygen_saturation', 'Corrected_saturation_cumulated_time',
       'Health_state_scale_doctor', 'Severity'],
      dtype='object')

## Creating df with only complete patient entries

In [45]:
complete_patients_binary = osa_simple_nadrop[~osa_simple_nadrop.isnull().any(axis=1)]
complete_patients_binary.shape

(1699, 70)

## Creating df with imputed missing values
simple imputer with median/ mode

In [46]:
from sklearn.impute import SimpleImputer

In [47]:
features = ['Sex', 'Age', 'Current_smoker', 'Former_smoker',
       'Sedentary', 'Height', 'Weight', 'Cervical_perimeter',
       'Abdominal_perimeter', 'Systolic_BP', 'Diastolic_BP',
       'Maxillofacial_profile', 'BMI', 'High_BP', 'Asthma', 'Rhinitis', 'COPD',
       'Respiratory_fail', 'Myocardial_infarct', 'Coronary_fail',
       'Arrhythmias', 'Stroke', 'Heart_fail', 'Arteriopathy', 'Gastric_reflux',
       'Glaucoma', 'Diabetes', 'Hypercholesterolemia', 'Hypertriglyceridemia',
       'Hypo(er)thyroidism', 'Depression', 'Obesity', 'Dysmorphology',
       'Restless_Leg_Syndrome', 'Snoring', 'Diurnal_somnolence',
       'Driving_drowsiness', 'Morning_fatigue', 'Morning_headache',
       'Memory_problem', 'Nocturnal_perspiration',
       'Shortness_of_breath_on_exertion', 'Nocturia', 'Drowsiness_accident',
       'Near_miss_accident', 'Respiratory_arrest', 'ENT_surgery', 'CPAP',
       'Two_levels_pressure_ventilation', 'Assisted_Servoventilation',
       'Mandibular_advance_orthosis', 'Oxygen_therapy',
       'MaxilloFacial_surgery', 'Drug_treatment_Modafinil',
       'RLS_drug_treatment', 'Other_treatments', 'Epworth_scale',
       'Pichots_scale', 'Depression_scale', 'Corrected_average_duration_sleep',
       'Spirometry', 'FEV1', 'PAO2', 'PACO2', 'Number_oxygen_desaturation',
       'Mean_oxygen_saturation', 'Corrected_saturation_cumulated_time',
       'Health_state_scale_doctor']
continuous = ['Age','Height','Weight','Cervical_perimeter','Abdominal_perimeter','Systolic_BP','Diastolic_BP', 
              'BMI','Epworth_scale','Pichots_scale','Depression_scale', 'Corrected_average_duration_sleep',
              'Spirometry', 'FEV1', 'PAO2', 'PACO2', 'Number_oxygen_desaturation','Mean_oxygen_saturation', 
              'Corrected_saturation_cumulated_time','Health_state_scale_doctor',]
categorical = [i for i in features if i not in continuous]

In [48]:
# must convert Corrected_average_duration_sleep and corrected saturation cumulated time to minutes

data_imp = osa_simple_nadrop.copy(deep= True)            # copy original df
time = pd.DatetimeIndex(data_imp['Corrected_average_duration_sleep'])
times = time.hour * 60 + time.minute
data_imp['Corrected_average_duration_sleep'] = times

time = pd.DatetimeIndex(data_imp['Corrected_saturation_cumulated_time'])
times = time.hour * 60 + time.minute
data_imp['Corrected_saturation_cumulated_time'] = times

In [49]:
data_imp.head(10)

,PatientID,Sex,Age,Current_smoker,Former_smoker,Sedentary,Height,Weight,Cervical_perimeter,Abdominal_perimeter,...,Corrected_average_duration_sleep,Spirometry,FEV1,PAO2,PACO2,Number_oxygen_desaturation,Mean_oxygen_saturation,Corrected_saturation_cumulated_time,Health_state_scale_doctor,Severity
0,1,2.0,35.167693,0.0,1.0,0.0,166.0,100.0,35.0,114.0,...,NaN,NaN,NaN,NaN,NaN,5.0,96.0,NaN,NaN,1
6,3,1.0,35.014374,0.0,0.0,0.0,178.0,96.0,44.0,109.0,...,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,3
7,4,1.0,48.802190,0.0,1.0,1.0,182.0,81.0,38.0,96.0,...,NaN,NaN,58.0,80.0,36.0,4.0,NaN,NaN,75.0,2
20,14,2.0,56.410678,0.0,0.0,0.0,165.0,88.0,38.0,110.0,...,NaN,98.0,89.0,88.0,35.0,21.0,92.0,19.0,99.0,3
21,15,1.0,71.600274,0.0,0.0,0.0,175.0,77.0,40.0,101.0,...,NaN,NaN,75.0,81.0,35.0,18.0,95.0,NaN,98.0,2
22,16,1.0,54.099932,1.0,0.0,1.0,172.0,102.0,41.0,124.0,...,NaN,NaN,69.0,81.0,35.0,10.0,89.0,NaN,95.0,3
25,17,1.0,71.340178,0.0,0.0,1.0,166.0,77.0,39.0,100.0,...,NaN,86.0,64.0,80.0,36.0,41.0,92.0,NaN,96.0,3
30,19,2.0,61.598905,0.0,0.0,1.0,162.0,87.0,39.0,117.0,...,NaN,88.0,83.0,83.2,36.1,67.0,93.0,63.0,102.0,3
31,20,2.0,58.130048,0.0,0.0,0.0,154.0,65.0,35.0,91.0,...,NaN,90.0,83.0,81.3,35.9,18.0,94.0,3.0,92.0,3
35,21,2.0,44.041068,0.0,0.0,1.0,171.0,80.0,40.0,97.0,...,NaN,NaN,70.0,94.0,37.0,0.0,94.0,NaN,79.0,0

### Imputing values using median for continuous and most frequent for categorical variables

In [50]:
imp_cont = SimpleImputer(strategy='median', missing_values=np.nan)  # define imputer for continuous variables
imp_cont = imp_cont.fit(data_imp[continuous])                    # fit imputer on columns
data_imp[continuous] = imp_cont.transform(data_imp[continuous])     # transform columns

imp_cat = SimpleImputer(strategy='most_frequent', missing_values=np.nan)  # define imputer for categorical variables
imp_cat = imp_cat.fit(data_imp[categorical])                                  # fit imputer on columns
data_imp[categorical] = imp_cat.transform(data_imp[categorical])                 # transform columns

In [51]:
# Making sure it worked
data_imp['Systolic_BP'].isnull().sum()

0

# Testing binary classification

## Stratified train-test-split

In [52]:
#data_imp.to_csv("data_imp.csv")
#data_imp = pd.read_csv("data_imp.csv")

In [53]:
X=data_imp[features]  # Features  
y=data_imp['Severity']  # Labels

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    stratify=y, 
                                                    test_size=0.2,
                                                    random_state=0)

### Distribution of classes in training and testing sets

In [55]:
print('\nClass distribution train (%):')
y_train.value_counts(normalize=True) * 100

Class distribution train (%):

3    41.737156
2    22.142057
1    21.913484
0    14.207302
Name: Severity, dtype: float64

In [56]:
print('\nClass distribution test (%):')
y_test.value_counts(normalize=True) * 100

Class distribution test (%):

3    41.734047
2    22.142057
1    21.918149
0    14.205747
Name: Severity, dtype: float64

## Classifier Comparison

In [57]:
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import ADASYN

from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler  

from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB

from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import make_scorer
from sklearn.metrics import balanced_accuracy_score
from imblearn.metrics import geometric_mean_score

from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [58]:
classifiers = {
    "LGBMClassifier": LGBMClassifier(),
    "XGBClassifier": XGBClassifier(),
    "ExtraTreesClassifier": ExtraTreesClassifier(),    
    "RandomForestClassifier": RandomForestClassifier(),
    "CatBoostClassifier": CatBoostClassifier(silent=True),
    "AdaBoostClassifier": AdaBoostClassifier(),
    "Logistic Regression": LogisticRegression(max_iter = 2000),
    "Naive Bayes": GaussianNB(),
    "Linear SVM": LinearSVC(max_iter = 2000),
    "SVM" : SVC(class_weight='balanced', random_state = 0),
    "KNN": KNeighborsClassifier(n_neighbors = 5),
    "MLP": MLPClassifier(early_stopping=True)}

### Performance of imbalanced dataset

In [59]:
df_result = pd.DataFrame(columns=['model','accuracy', 'precision','recall', 'f1', 'bal_acc', 'g_mean'])

for key in classifiers:
    print('*',key)

    classifier = classifiers[key]
    if key == "Linear SVM" or key == "MLP" or key == "SVM" or key == "KNN" or key == "Logistic Regression":
        scaler = MinMaxScaler()  
        scaler.fit(X_train)  
        X_train = scaler.transform(X_train)  
        X_test = scaler.transform(X_test) 
    
    model = classifier.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    accuracy = accuracy_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred, average='weighted')
    f1 = f1_score(y_test, y_pred, average='weighted')
    bal_accuracy = balanced_accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average='weighted')
    g_mean = geometric_mean_score(y_test, y_pred)
    row = {'model': key,
           'accuracy': round(accuracy,3),
           'recall': round(recall,3),
           'f1': round(f1,3),
           'bal_acc': round(bal_accuracy,3),
           'precision': round(precision,3),
           'g_mean': round(g_mean,3),}

    df_result = df_result.append(row, ignore_index=True)

* LGBMClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* XGBClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* ExtraTreesClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* RandomForestClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* CatBoostClassifier

C:\Users\amona\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\amona\AppData\Local\Temp\ipykernel_8468\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* AdaBoostClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* Logistic Regression

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* Naive Bayes

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* Linear SVM

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* SVM

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* KNN

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* MLP

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\1552145698.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

In [60]:
df_result

                     model accuracy precision recall     f1 bal_acc g_mean
0           LGBMClassifier    0.658     0.648  0.658  0.648   0.603  0.572
1            XGBClassifier    0.653     0.643  0.653  0.644   0.597  0.569
2     ExtraTreesClassifier    0.627     0.607  0.627  0.599   0.551  0.483
3   RandomForestClassifier    0.645      0.63  0.645  0.627    0.58  0.535
4       CatBoostClassifier    0.661      0.65  0.661  0.652   0.607  0.579
5       AdaBoostClassifier    0.634     0.619  0.634  0.616    0.57  0.523
6      Logistic Regression    0.623     0.608  0.623  0.594   0.549  0.476
7              Naive Bayes    0.501      0.49  0.501  0.472   0.461  0.351
8               Linear SVM    0.604     0.593  0.604  0.545   0.514  0.352
9                      SVM    0.588     0.592  0.588  0.583   0.551  0.511
10                     KNN    0.508     0.497  0.508  0.498   0.449  0.398
11                     MLP    0.631     0.618  0.631  0.614   0.562  0.514

## Using SMOTE for oversampling on X_train and y_train

### Oversampling training data

In [61]:
oversampled = SMOTE(random_state=0)
X_train_smote, y_train_smote = oversampled.fit_resample(X_train, y_train)
y_train_smote.value_counts()

3    26842
2    26842
1    26842
0    26842
Name: Severity, dtype: int64

In [62]:
df_result = pd.DataFrame(columns=['model','accuracy', 'precision','recall', 'f1', 'bal_acc', 'g_mean'])

for key in classifiers:
    print('*',key)

    classifier = classifiers[key]
    if key == "Linear SVM" or key == "MLP" or key == "SVM" or key == "KNN" or key == "Logistic Regression":
        scaler = MinMaxScaler()  
        scaler.fit(X_train)  
        X_train_smote = scaler.transform(X_train_smote)  
        X_test = scaler.transform(X_test) 
    
    model = classifier.fit(X_train_smote, y_train_smote)
    y_pred = model.predict(X_test)
    
    accuracy = accuracy_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred, average='weighted')
    f1 = f1_score(y_test, y_pred, average='weighted')
    bal_accuracy = balanced_accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average='weighted')
    g_mean = geometric_mean_score(y_test, y_pred)
    row = {'model': key,
           'accuracy': round(accuracy,3),
           'recall': round(recall,3),
           'f1': round(f1,3),
           'bal_acc': round(bal_accuracy,3),
           'precision': round(precision,3),
           'g_mean': round(g_mean,3),}

    df_result = df_result.append(row, ignore_index=True)

* LGBMClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* XGBClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* ExtraTreesClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* RandomForestClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* CatBoostClassifier

C:\Users\amona\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\amona\AppData\Local\Temp\ipykernel_8468\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* AdaBoostClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* Logistic Regression

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* Naive Bayes

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* Linear SVM

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* SVM

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* KNN

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* MLP

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\77636734.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

In [63]:
df_result

                     model accuracy precision recall     f1 bal_acc g_mean
0           LGBMClassifier    0.654     0.649  0.654   0.65    0.61   0.59
1            XGBClassifier    0.651     0.645  0.651  0.646   0.606  0.585
2     ExtraTreesClassifier    0.617     0.597  0.617  0.599   0.555  0.506
3   RandomForestClassifier    0.643     0.636  0.643  0.638   0.597  0.574
4       CatBoostClassifier    0.653     0.648  0.653  0.649   0.609   0.59
5       AdaBoostClassifier    0.618     0.627  0.618  0.621   0.588  0.574
6      Logistic Regression    0.599     0.609  0.599  0.601   0.568  0.547
7              Naive Bayes    0.442     0.466  0.442   0.44   0.436  0.386
8               Linear SVM    0.591      0.58  0.591  0.564   0.543  0.458
9                      SVM    0.603     0.598  0.603  0.596   0.556  0.522
10                     KNN     0.43     0.491   0.43  0.448   0.416  0.403
11                     MLP    0.602     0.617  0.602  0.608    0.57  0.559

## Using ADASYN for oversampling on X_train and y_train

### Oversampling training data

In [64]:
oversampled_a = ADASYN(random_state=0)
X_train_ada, y_train_ada = oversampled_a.fit_resample(X_train, y_train)
y_train_ada.value_counts()

1    27096
2    26995
0    26858
3    26842
Name: Severity, dtype: int64

In [65]:
df_result = pd.DataFrame(columns=['model','accuracy', 'precision','recall', 'f1', 'bal_acc', 'g_mean'])

for key in classifiers:
    print('*',key)

    classifier = classifiers[key]
    if key == "Linear SVM" or key == "MLP" or key == "SVM" or key == "KNN" or key == "Logistic Regression":
        scaler = MinMaxScaler()  
        scaler.fit(X_train)  
        X_train_ada = scaler.transform(X_train_ada)  
        X_test = scaler.transform(X_test) 
    
    model = classifier.fit(X_train_ada, y_train_ada)
    y_pred = model.predict(X_test)
    
    accuracy = accuracy_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred, average='weighted')
    f1 = f1_score(y_test, y_pred, average='weighted')
    bal_accuracy = balanced_accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average='weighted')
    g_mean = geometric_mean_score(y_test, y_pred)
    row = {'model': key,
           'accuracy': round(accuracy,3),
           'recall': round(recall,3),
           'f1': round(f1,3),
           'bal_acc': round(bal_accuracy,3),
           'precision': round(precision,3),
           'g_mean': round(g_mean,3),}

    df_result = df_result.append(row, ignore_index=True)

* LGBMClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* XGBClassifier
* ExtraTreesClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)
C:\Users\amona\AppData\Local\Temp\ipykernel_8468\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* RandomForestClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* CatBoostClassifier

C:\Users\amona\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\amona\AppData\Local\Temp\ipykernel_8468\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* AdaBoostClassifier

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* Logistic Regression

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* Naive Bayes

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* Linear SVM

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* SVM

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* KNN

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

* MLP

C:\Users\amona\AppData\Local\Temp\ipykernel_8468\3546144680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index=True)

In [66]:
df_result

                     model accuracy precision recall     f1 bal_acc g_mean
0           LGBMClassifier    0.655      0.65  0.655   0.65   0.611   0.59
1            XGBClassifier    0.653     0.647  0.653  0.648   0.607  0.585
2     ExtraTreesClassifier    0.621     0.604  0.621  0.604   0.559  0.513
3   RandomForestClassifier    0.644     0.638  0.644   0.64   0.599  0.577
4       CatBoostClassifier    0.655     0.649  0.655  0.651    0.61   0.59
5       AdaBoostClassifier    0.623     0.623  0.623  0.622   0.585  0.566
6      Logistic Regression    0.597     0.608  0.597  0.599   0.566  0.545
7              Naive Bayes    0.436     0.464  0.436  0.434   0.433  0.377
8               Linear SVM     0.59      0.58   0.59  0.562   0.541  0.453
9                      SVM    0.602     0.597  0.602  0.594   0.554  0.519
10                     KNN    0.424      0.49  0.424  0.442   0.409  0.398
11                     MLP    0.608     0.615  0.608  0.611   0.569  0.555